﻿.checkbox {
    color: gray;
    margin-right: 10px;
}

body {
    background: #949494;
    font-family: Arial, Verdana;
}


#inner {
    padding: 10px;
    border-radius: 5px;
    border: 1px dotted silver;
    background: #fff;
    width: 780px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 50px;
}

h3 
{
    font-weight: normal;
    color: #949494;
    font-family: Calibri;
    }

.entry hr {
    opacity: 0.3;
}

.navbar-inverse .nav .active > a {
    background: transparent;
    color: #99CC99;
}

.validation-summary-errors
{
    color: rgb(185, 74, 72);
    background-color: rgb(242, 222, 222);
    border-color: rgb(238, 211, 215);
    padding: 10px 15px;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
    border-radius: 4px 4px 4px 4px;
}

a.brand 
{
    color: #99CC99!important;
    }
    
    