﻿@model Isi2.Projekt.Web.Models.ViewModels.UserViewModel
@{
    ViewBag.Title = "Profile";
    var page = (int)Math.Ceiling(Model.Entries.Count / 5.0);
}
<div class="alert alert-info" ><H4 class="text-center ">szczegóły profilu: </H4></div>

<div >
    @{
        Html.RenderPartial("_ExtendedUserCard", Model.User);
    }
</div>
<br/>
<div>
    <div class="alert alert-info"><h4 class="text-center">Obrazki dodane przez ciebie </h4></div>
    @foreach (var item in Model.Entries.Items)
    {
        Html.RenderPartial("_Entry", item);
    }

    <div class="pagination">
        <ul>
            @for (int i = @Model.Entries.Page + 1; i < Model.Entries.Page + page + 1; i++)
            { 
                <li><a href="@Url.Action("Index", "User", new { page = i })">@i</a></li>
            }
        </ul>
    </div>
</div>

