﻿@model Isi2.Projekt.Contracts.Common.PagedListResultContract<Isi2.Projekt.Contracts.EntryContract>

@{
    int page = (int)Math.Ceiling(Model.Count / 10.0);
}

<h3>Poczekalnia</h3>
@foreach (var item in Model.Items)
{ 
    @Html.Partial("_Entry", item)
}

<div class="pagination">
    <ul>
        @for (int i = @Model.Page + 1; i < Model.Page + page + 1; i++)
        { 
             <li><a href="@Url.Action("Others", "Entry", new { page = i })">@i</a></li>
        }
    </ul>
</div>
