﻿@model Isi2.Projekt.Web.Models.ImageUploadModel


@if (!Request.IsAuthenticated)
{
    <p>
        Strona wymaga logowania
    </p> 
}
else
{
    <h2>Wyślij obrazek</h2>

    <p>
        Użyj poniższego formularza, aby przesłać obrazek 
    </p>
    
    using (Html.BeginForm("UploadImage", "Entry", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
    <div>
        <fieldset>
            <div class="editor-label">
                <input type="hidden" name="AuthorId" value="@User.Identity.Name" />
            </div>

            <input type="file"class="btn" name="file" />
            <p>
                <input type="submit" class="btn" value="Wyślij obrazek" />
            </p>
            
        </fieldset>
    </div>
    }

}