﻿@model Isi2.Projekt.Contracts.Common.PagedListResultContract<Isi2.Projekt.Contracts.CategoryContract> 

@foreach (var item in Model.Items)
{
    <li><a href="@Url.Action("Index", "Entry", new { CategoryId = @item.Id })">@item.Name</a></li>
}