﻿@model Isi2.Projekt.Contracts.UserContract
<div style="width: 300px; height: 150px;">

    <div id="summary" style="margin-bottom:10px;"></div>

      <span>Uprawnienia użytkownika <b>@Model.Login</b></span>
        <div class="display-field">
            @Html.CheckBox("isMod", Model.Is_mod.HasValue?Model.Is_mod.Value:false) Uprawnienia moderatora<br />
            @Html.CheckBox("isAdmin", Model.Is_admin.HasValue?Model.Is_admin.Value:false) Uprawnienia administratora<br />
         </div>
        
        <input type="button" id="btnSave" value="Zapisz" class="btn pull-left btn-inverse" />
    
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#btnSave').bind('click', function () {
            $.ajax({
                url: '@Url.Action("SetPermissions", "Administrator")',
                type: 'POST',
                data: {
                    userId: '@Model.Id',
                    isMod: $('#isMod').is(":checked"),
                    isAdmin: $('#isAdmin').is(":checked")
                },
                dataType: 'json',
                success: function (result) {
                    if (result.status == 'OK') {
                        $('#summary').css('background-color', 'green');
                    }
                    else {
                        $('#summary').css('background-color', 'red');
                    }

                    $('#summary').css('color', 'white')
                    $('#summary').html(result.message)
                    $('#summary').show('slide');
                   
                }
            })
        })
    });


</script>

